Maximum inner product search using Asymmetric Locality Sensitive Hashing

In [1]:
import os
import pandas as pd
import numpy as np

Executed on Full dataset.
Respective columns are converted to int or float datatypes from string datatype

In [8]:
#dataset = "datasets"+os.path.sep+"ml-latest-small"
dataset = "datasets"+os.path.sep+"ml-10m"
name = "ratings.dat"
with open('datasets/ml-10m/ratings.dat','r') as f:
    next(f) # skip first row
    ratings_df = pd.DataFrame(l.rstrip().split("::") for l in f)

In [10]:
ratings_df.columns=["UserID", "MovieID", "Rating", "Timestamp"]
ratings_df.head()

  UserID MovieID Rating  Timestamp
0      1     185      5  838983525
1      1     231      5  838983392
2      1     292      5  838983421
3      1     316      5  838983392
4      1     329      5  838983392

In [13]:
#ratings_df = pd.read_csv(dataset + os.path.sep + name, names= ["UserID", "MovieID", "Rating", "Timestamp"], header=0)
ratings_df["UserID"] = pd.to_numeric(ratings_df["UserID"], errors='ignore')
ratings_df["MovieID"] = pd.to_numeric(ratings_df["MovieID"], errors='ignore')
ratings_df["Rating"] = pd.to_numeric(ratings_df["Rating"], errors='ignore')
ratings_df["Timestamp"] = pd.to_numeric(ratings_df["Timestamp"], errors='ignore')

In [3]:
ratings_df.head()

   UserID  MovieID  Rating   Timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

Ratings for every user vs every movie

In [14]:
R_df = ratings_df.pivot(index = 'UserID', columns ='MovieID', values = 'Rating').fillna(0.0)
R_df.head()

MovieID,1,2,3,4,5,6,7,8,9,10,...,65006,65011,65025,65027,65037,65088,65091,65126,65130,65133
UserID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
R = R_df.as_matrix()
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

U, Vt and Sigma of SVD.
Need to vary k and see.

In [16]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)

In [17]:
sigma = np.diag(sigma)

In [20]:
np.shape(U)

(69878, 50)

In [21]:
np.shape(sigma)

(50, 50)

In [ ]:
np.shape()